@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
/*Reset settings*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*getting the real sizes of the elements*/
* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}
html, html body {
  height: 100%;
}

header {
  padding: 1em;
  -webkit-box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1000;
}
header img.logo {
  height: 4em;
  display: block;
  margin: auto;
}
header span {
  font-weight: 100;
  display: block;
  text-align: center;
  margin-top: 1em;
}

section {
  /*defines height of section elements: whole page (100%) minus the header (2*1em for the padding, 4em for the logo, 1em for the span margin and 1em for the span text)*/
  height: calc(100% - (2*1em) - (4em) - (1em) - (1em));
  max-height: calc(100% - (2*1em) - (4em) - (1em) - (1em));
}

section.eventsList {
  width: 30%;
  overflow: auto;
}
section.eventsList ul {
  width: 100%;
}
section.eventsList ul li {
  height: 5em;
  border-bottom: 0.5px solid #eee;
  cursor: pointer;
}
section.eventsList ul li img {
  padding: 0.5em;
  height: 100%;
  background-color: #eee;
  float: left;
}
section.eventsList ul li div {
  height: 5em;
  line-height: 5em;
  display: inline-block;
  float: right;
  width: 70%;
}
section.eventsList ul li div span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1.5em;
  margin: 0 1em;
}

section.map {
  width: 70%;
}
section.map div.description {
  position: absolute;
  margin: 1em;
  background-color: #fff;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  border-radius: 2em;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 2em;
}
section.map div.description p {
  font-weight: 100;
}
section.map div.description span.arrow {
  width: 20px;
  height: 32px;
  margin-left: 1em;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
}
section.map div.description span.collapse {
  background-image: url("../img/collapse.png");
}
section.map div.description span.expand {
  background-image: url("../img/expand.png");
}
section.map div.map {
  height: 100%;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*# sourceMappingURL=amsfest.css.map */
