@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*Reset settings*/
@import 'reset';

@import 'mixins';

/*getting the real sizes of the elements*/
*{
	box-sizing: border-box;
}

html{
	font-family: 'Roboto', sans-serif;
	&, body{
		height: 100%;
	}
}

header{
	padding: 1em;
	@include box-shadow(-10px, 0, 20px, rgba(0,0,0,0.5));
	position: relative;
	z-index: 1000;

	img.logo{
		height: 4em;
		display: block;
		margin: auto;
	}

	span{
		font-weight: 100;
		display: block;
		text-align: center;
		margin-top: 1em;
	}
}

section{
	/*defines height of section elements: whole page (100%) minus the header (2*1em for the padding, 4em for the logo, 1em for the span margin and 1em for the span text)*/
	height: calc(100% - (2*1em) - (4em) - (1em) - (1em));
	max-height: calc(100% - (2*1em) - (4em) - (1em) - (1em));
}

section.eventsList{
	width: 30%;
	overflow: auto;

	ul{
		width: 100%;

		li{
			height: 5em;
			border-bottom: 0.5px solid #eee;
			cursor: pointer;

			img{
				padding: 0.5em;
				height: 100%;
				background-color: #eee;
				float: left;
			}

			div{
				height: 5em;
				line-height: 5em;
				display: inline-block;
				float: right;
				width: 70%;

				span{
					display: inline-block;
					vertical-align: middle;
					line-height: normal;
					font-size: 1.5em;
					margin: 0 1em;
				}
			}
		}
	}
}

section.map{
	width: 70%;

	div.description{
		position: absolute;
		margin: 1em;
		background-color: #fff;
		@include border-radius(2em);
		@include box-shadow(0, 0, 20px, rgba(0,0,0,0.5));
		z-index: 1000;
		padding: 2em;

		p{
			font-weight: 100;
		}

		span.arrow{
			width: 20px;
			height: 32px;
			margin-left: 1em;
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			cursor: pointer;
			float: right;
		}

		span.collapse{
			background-image: url("../img/collapse.png");
		}

		span.expand{
			background-image: url("../img/expand.png");
		}
	}

	div.map{
		height: 100%;
		width: 100%;
	}
}

.left{
	float: left;
}

.right{
	float: right;
}