<!DOCTYPE html>
<html ng-app="Festivals">
	<head>
		<title>AMS Fest - Festivals in Amsterdam!</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
		<meta name="theme-color" content="#c62828"/>
		
		<link rel="stylesheet" type="text/css" href="css/amsfest.css"/>
	</head>
	<body ng-controller="FestivalsController">
		<header>
			<img src="img/amsfest.svg" class="logo" alt="AMS Fest"/>
			<span>Fantastic Festivals and where to find them</span>
		</header>
		<section class="eventsList left">
			<ul>
				<li ng-repeat="festival in festivals" ng-click="selectFestival(festival.location.relationship[0].targetPOI)">
					<img src="img/festival.svg" alt="Festival"/>
					<div><span>{{festival.label[0].value}}</span></div>
				</li>
			</ul>
		</section>
		<section class="map right">
			<div class="description">
				<h1>{{selected ? selected.label[0].value : "You"}}</h1>
				<p ng-bind-html='selected.description[0].value || "You are here... Aren&#39;t you?"'></p>
				<span class="arrow collapse" title="Toggle description"></span>
			</div>
			<div class="map"></div>
		</section>

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="js/amsfest.js"></script>
		<script type="text/javascript" src="js/app/app.js"></script>
		<script type="text/javascript" src="js/app/services/FestivalsService.js"></script>
		<script type="text/javascript" src="js/app/services/LocationsService.js"></script>
		<script type="text/javascript" src="js/app/controllers/FestivalsController.js"></script>
		<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMRXycO-vMGH3_fMYILVRlcQmkcnHmZ8I&callback=initMap"></script>
    </script>
	</body>
</html>